Flask==2.3.3
gunicorn==23.0.0
pymongo==4.6.3
flask-cors==6.0.0
requests==2.32.4
python-dotenv==1.0.0
openai==1.51.0
azure-identity==1.19.0
azure-ai-inference==1.0.0b2
opencensus-ext-azure==1.1.13
ddtrace==2.8.0
redis==5.0.7
